<section fxLayout="column"
         fxLayoutAlign="start stretch"
         class="p8">
  <section fxLayout="column"
           fxLayoutAlign="start stretch"
           class="m4 p4">
    <p class="mat-title m4">Generate Campaign</p>
    <div fxLayout="row"
         fxLayoutAlign="start center"
         class="p4">
      <mat-form-field class="m4"
                      fxFlex>
        <mat-label>Campaign Name</mat-label>
        <input matInput
               [(ngModel)]="name" />
      </mat-form-field>
      <button mat-stroked-button
              class="m4"
              (click)="initCampaign()">Generate Campaign</button>
    </div>
    <div fxLayout="row"
         fxLayoutAlign="start center"
         class="p4">
      <button mat-stroked-button
              class="m4"
              (click)="store.download()">
        Download Saves
      </button>
      <file-upload class="m4"
                   label="Upload Campaigns"
                   [accept]="store.prefix"
                   [useDrop]="false"
                   (loaded)="uploadSaves($event)"></file-upload>
      <button mat-stroked-button
              class="m4"
              color="warn"
              (click)="clearCampaigns()">Clear Saves</button>
    </div>
    <section fxLayout="column"
             fxLayoutAlign="start stretch"
             class="p4">
      <p class="mat-title m4">Saved Campaigns</p>
      <section *ngIf="data && data.length > 0"
               fxLayout="row | wrap"
               fxLayoutAlign="start start"
               fxLayoutGap="4px"
               class="p4">
        <campaign-card *ngFor="let c of data"
                       [campaign]="c"
                       (remove)="deleteCampaign(c.name)"></campaign-card>
      </section>
      <p *ngIf="!(data.length > 0)"
         class="mat-subheading-1 m4">No Campaigns Available</p>
    </section>
  </section>
</section>
